{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden; max-width: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice50</title>
    <link rel="stylesheet" href="{% static 'css/mainb.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainc.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.4"
        integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <style>
        .loading {
            display: none;
            /* Hidden by default */
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid #3498db;
            /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 0 auto;
            /* Center horizontally */
            margin-top: 20px;
            /* Add space above */
        }
    
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
    
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

</head>

<body style="overflow-x: hidden; max-width: 100%;">
    <header class="astronav-sticky-header sticky top-0 border-b z-20 transition-all py-4 border-transparent">
        <div class="max-w-screen-xl mx-auto px-5">
            <div class="flex flex-col lg:flex-row justify-between items-center relative z-10"
                data-astro-transition-scope="astro-o7bz76pi-1">
                <div class="flex w-full lg:w-auto items-center justify-between">
                    <a href="{% url 'index' %}"
                        class="text-lg flex items-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full px-2 -ml-2">
                        <!-- <span class="text-slate-600">Practice</span>
                        <span class="font-bold text-indigo-600">50</span> -->
                        <img src="{% static 'images/Practice50Logo.svg' %}" alt="Practice50 Logo">
                    </a>
                    <div class="block lg:hidden">
                        <button id="astronav-menu" class="rounded-full text-center px-5 py-2.5 bg-white border-2 border-indigo-500 hover:bg-indigo-50  items-center justify-center" aria-label="Toggle Menu">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <nav class="astronav-items astronav-toggle hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
                    <ul class="flex flex-col lg:flex-row lg:gap-3">
                        
                    </ul>
                    
                </nav>
               
                <div>
                    <div class="hidden lg:flex items-center gap-4">
                        <!-- <a href="#"
                            class="text-sm px-2 py-1 transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">Log
                            in</a> -->
                        <button
                            class="rounded-full text-center btn btn-outline-primary">
                            <span>50 Practice Questions</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" style="margin-top: 5%;">
        <div class="left-side">
            <div class="container price-wrapper">
                <div class="loading" id="loading" style="display: none;"></div>
                <form action="{% url 'questions' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="exampleFormControlInput1">Scope of study</label>
                        <textarea type="text" class="form-control" rows="6" name="details"
                            placeholder="Theories of political development and modernization, state formation and nation-building."
                            required></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1">Study goals</label>
                            <input type="text" class="form-control" name="study_goals" placeholder="Class discussion"
                                required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1">Difficulty level</label>
                            <select class="form-control" name="difficulty" id="exampleFormControlSelect1" required>
                                <option>Beginner</option>
                                <option>Intermediate</option>
                                <option>Advanced</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" id="load_btn" type="submit">Generate Practice Questions</button>
                </form>
            </div>
        </div>

        <!-- <div class="right-side">
            
            <section class="pt-4 ">
                <div class="container price-wrapper" id="questions"></div>
            </section>
            
        </div> -->
        <br><br><br>
    </div>

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            var loader = document.getElementById('loading');

            // Show loader when the request starts
            document.addEventListener('htmx:beforeRequest', function (event) {
                loader.style.display = 'block';
            });

            // Hide loader when the response is successfully received
            document.addEventListener('htmx:afterOnLoad', function (event) {
                loader.style.display = 'none';
            });

            // Hide loader if the request fails
            document.addEventListener('htmx:afterRequest', function (event) {
                loader.style.display = 'none';
            });
        });
    </script> -->

    <script>
        document.getElementById('load_btn').addEventListener('click', function (event) {
                document.getElementById('loading').style.display = 'block';
            });

    </script>


</body>

</html>