
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card pricing">
        <div class="card-body">
            <h2 class="mb-4 d-flex align-items-center">
                <div class="price-textx">
                    <div class="price price-show">
                        <span>Multiple Choice Questions</span>
                    </div>
                </div>
            </h2>
            <div class="mb-6">
                <p class="mb-0" style="white-space: pre-line;">{{ m_c_q }}</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card pricing">
        <div class="card-body">
            <h2 class="mb-4 d-flex align-items-center">
                <div class="price-textx">
                    <div class="price price-show">
                        <span>Short Answer Questions</span>
                    </div>
                </div>
            </h2>
            <div class="mb-6">
                <p class="mb-0" style="white-space: pre-line;">{{ s_a_q }}</p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-xl-12 col-lg-12 col-md-12 col-12">
    <div class="card pricing">
        <div class="card-body">
            <h2 class="mb-4 d-flex align-items-center">
                <div class="price-textx">
                    <div class="price price-show">
                        <span>Essay Questions</span>
                    </div>
                </div>
            </h2>
            <div class="mb-6">
                <p class="mb-0" style="white-space: pre-line;">{{ e_q }}</p>
            </div>
        </div>
    </div>
</div>
